.container {
  border: 5px solid red;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  /* main axis */
  justify-content: space-around;
  /* cross axis */
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-around;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background: blue;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
