body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parents {
  border: 5px solid red;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 110px 140px 50px 100px;
  grid-template-rows: 75px 150px 225px;
  column-gap: 20px;
  row-gap: 10px;
}

.child {
  border: 2px solid black;
  background: blue;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
