body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    /* repeat 함수를 사용하면 위와 같은 반복을 줄일 수 있다 */
    grid-template-rows: 100px repeat(3, 200px) 100px;
    grid-template-areas:
          "header header header header header"
          "nav content content content aside"
          "nav content content content aside"
          "footer footer footer footer footer";
}

.header {
    background-color: palegreen;
    grid-area: header;
}

.content {
    background-color: paleturquoise;
    grid-area: content;
}

.nav {
    background-color: palevioletred;
    grid-area: nav
}

.aside {
    background-color: palevioletred;
    grid-area: aside
}

.footer {
    background-color: palegoldenrod;
    grid-area: footer
}
