body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: [a] 100px [second-line] 100px [삼] 100px [d] 100px [last-line];
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: palegreen;
  grid-column: 1 / 5;
}

.content {
  background-color: paleturquoise;
  grid-column-start: a;
  grid-column-end: 삼;
  grid-row: span 2;
}

.nav {
  background-color: palevioletred;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 2 / -2;
}

.footer {
  background-color: palegoldenrod;
  grid-column: span 4;
}
