.container {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  background: blue;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 30px;
}
