@import "reset";
@import "_variables";
@import "_titles";
@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&family=Montserrat:wght@400;500&display=swap");

body {
  height: 100vh;
  font-family: "Caladea";
  background-color: $white;
}

nav {
  width: calc(90%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  position: fixed;
  top: 0;
  background-color: $white;

  div {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;

    span {
      @extend %miniTitle;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }

    img {
      width: 48px;
      height: 48px;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }

    svg {
      width: 24px;
      height: 24px;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  .first_div {
    justify-content: flex-start;
  }

  .last_div {
    justify-content: flex-end;
  }
}

main {
  margin-top: 150px;
}

.shop_now {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(128, 125, 125, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("/src/imgs/17.jpg");
  height: 70%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .label {
    @extend %miniTitle;
    color: $white;
    padding-bottom: 20px;
  }

  .content {
    width: 45%;
    color: $white;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 80px;
  }

  a {
    text-decoration: none;
    border: 2px solid $white;
    padding: 20px;
    width: 200px;
    text-align: center;
    @extend %miniTitle;
    color: $white;

    &:hover {
      background-color: $white;
      color: #111;
    }
  }
}

.book_now {
  margin: 5%;
  display: flex;
  flex-direction: row;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cardBg;
    padding-left: 50px;
    padding-right: 50px;

    p {
      font-size: 36px;
      font-weight: 300;
      text-align: center;
      padding-bottom: 80px;
    }

    a {
      text-decoration: none;
      border: 2px solid $black;
      padding: 20px;
      width: 200px;
      text-align: center;
      @extend %miniTitle;
      color: $black;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}

.add_to_cart {
  margin: 5%;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    span {
      @extend %miniTitle;
    }

    p {
      font-size: 36px;
      font-weight: 300;
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;

    .item {
      width: 30%;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .product_image {
        background-image: url("/src/imgs/2.png");
        width: 300px;
        height: 300px;
        padding-bottom: 50px;
      }

      .category {
        @extend %miniTitle;

        span {
          border-left: 2px solid burlywood;
          padding-left: 10px;
          margin-left: 10px;
          color: burlywood;
        }
      }

      .product {
        font-size: 32px;
        font-style: italic;
        font-weight: 400;
      }

      .price {
        font-size: 16px;
        color: gray;
        padding-bottom: 30px;
      }

      a {
        text-decoration: none;
        border: 1px solid $black;
        padding: 20px;
        width: 200px;
        text-align: center;
        @extend %miniTitle;
        color: $black;

        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

.buy_a_gift_card {
  display: flex;
  flex-direction: row;
  margin: 5%;

  img {
    display: block;
    width: 50%;
    height: 600px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 600px;
    background-color: #dee8e9;

    span {
      @extend %miniTitle;
      padding: 20px;
    }

    p {
      width: 60%;
      padding: 20px;
      font-size: 30pt;
      text-align: center;
    }

    a {
      text-decoration: none;
      border: 1px solid black;
      @extend %miniTitle;
      padding: 20px 40px;
      margin-top: 20px;
    }
  }
}
