// extend 를 선언할 때에는 % 기호를 사용한다
%button {
  font-family: inherit;
  border-radius: 7px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: gold;
  color: white;
  font-weight: 500;
}
